KOSIS에서는 국내, 국제, 북한등의 주요 통계를 한 곳에 모아 이용자가 원하는 통계를 한번에 찾을 수 있도록 통계청이 제공하는 서비스입니다.  
경제, 사회, 환경 등 30개분야의 데이터를 제공해줍니다.
* https://kosis.kr/index/index.do

사용하는 데이터는 KOSIS에서 제공해주는 연령, 성별 암검진 대상 및 수검현황에 관한 데이터 입니다.  
데이터에는 연령과 성별별로 검진시 발병되는 암에 관한 데이터가 정리되어 있습니다.

아래의 URL에서 건강검진 통계 -> 암검진 -> 연령별 성별 암검진 대상 및 수검인원 현황에 들어가면 데이터를 받을 수 있습니다.
* https://kosis.kr/statHtml/statHtml.do?orgId=350&tblId=DT_35007_N010&conn_path=I2

## pandas

### DataFrame
<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" width="400">

### Series
<img src="https://pandas.pydata.org/docs/_images/01_table_series.svg">

In [1]:
import os

os.getcwd()

'/Users/corazzon/codes/snu-python'

In [2]:
# pandas, numpy 를 불러옵니다.
import pandas as pd
import numpy as np

## pandas로 파일 불러오고 확인해보기

<img src = 'https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [3]:
import glob
glob.glob("data/*.csv")

['data/kosis-cancer-raw.csv', 'data/kosis-cancer.csv']

In [4]:
# colab
glob.glob("*.csv")

['eft_2022-07-15_raw.csv']

In [5]:
# pandas에서는 read_csv파일로 csv파일을 불러올 수 있습니다.
# csv파일은 ,(쉼표)로 구분하여 저장한 데이터파일입니다.
# read_csv()로 csv파일을 불러올 때 한글 인코딩 문제로 에러가 발생될 수 있습니다.
# 에러가 발생할때는 encoding 속성값을 'euc-kr', 'cp949', 'ms949'로 변경해서 실행합니다.
# DataFrame을 변수에 지정할때는 보통 약자인 df나 가공전에는 row를 사용합니다.
# kosis-cancer-raw.csv
df = pd.read_csv("data/kosis-cancer-raw.csv", encoding="cp949")

In [6]:
# shape속성을 통해 DataFrame의 행과 열에 대한 정보를 확인할 수 있습니다.
df.shape

(2428, 6)

In [7]:
print(df.shape)
display(df.head(2))

(2428, 6)

  연령별(1)    시점 암검진별(1) 성별(1)  대상인원 (명) 수검인원 (명)
0      계  2010       계    합계  12945756  6184804
1      계  2010       계    남자   6071884  2522586

## DataFrame의 columns의 이름 바꿔주기

In [8]:
# rename(index={}, columns={}, inplace=)함수를 통해 DataFrame의 행과 열의 이름을 바꿔줄 수 있다.
# df.rename(columns={'연령별(1)' : '연령별', '암검진별(1)' : '암검진별', '성별(1)' : '성별'}, inplace=True)
col_rename = {'연령별(1)' : '연령별', '암검진별(1)' : '암검진별', '성별(1)' : '성별'}
df = df.rename(columns=col_rename)
df.head(2)

  연령별    시점 암검진별  성별  대상인원 (명) 수검인원 (명)
0   계  2010    계  합계  12945756  6184804
1   계  2010    계  남자   6071884  2522586

In [9]:
# 컬럼명 변경하는 다른 방법
df.columns = ['연령별', '시점', '암검진별', '성별', '대상인원 (명)', '수검인원 (명)']
df.head(2)

  연령별    시점 암검진별  성별  대상인원 (명) 수검인원 (명)
0   계  2010    계  합계  12945756  6184804
1   계  2010    계  남자   6071884  2522586

## 데이터 전처리 및 타입 변경하기
* astype 으로 데이터 타입 변경

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428 entries, 0 to 2427
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연령별       2428 non-null   object
 1   시점        2428 non-null   int64
 2   암검진별      2428 non-null   object
 3   성별        2428 non-null   object
 4   대상인원 (명)  2428 non-null   object
 5   수검인원 (명)  2428 non-null   object
dtypes: int64(1), object(5)
memory usage: 113.9+ KB

In [11]:
df.describe(include="object")

         연령별  암검진별    성별 대상인원 (명) 수검인원 (명)
count   2428  2428  2428     2428     2428
unique    15     6     3     1487     1508
top        계     계    합계        -        -
freq     178   412   818      560      560

In [12]:
# replace함수로 DataFrame안에 있는 내용을 바꿔줄 수 있습니다.
# 데이터 안의 '-'(하이픈)을 0으로 바꿔줍니다.
# 이후 '데이터' column의 dtype을 int로 바꾸기 위해 내용을 바꿔줘야 합니다.
# pd.to_numeric(df["대상인원 (명)"], errors="coerce")
# df["대상인원"]
# df["수검인원"]
df["대상인원"] = pd.to_numeric(df["대상인원 (명)"], errors="coerce")
df["수검인원"] = pd.to_numeric(df["수검인원 (명)"], errors="coerce")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428 entries, 0 to 2427
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연령별       2428 non-null   object
 1   시점        2428 non-null   int64
 2   암검진별      2428 non-null   object
 3   성별        2428 non-null   object
 4   대상인원 (명)  2428 non-null   object
 5   수검인원 (명)  2428 non-null   object
 6   대상인원      1868 non-null   float64
 7   수검인원      1868 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 151.9+ KB

In [14]:
df.describe().round(2)

            시점         대상인원         수검인원
count  2428.00      1868.00      1868.00
mean   2014.67   1269765.42    616611.16
std       2.92   2469693.33   1210899.87
min    2010.00         0.00         0.00
25%    2012.00    173115.75     49850.00
50%    2015.00    638385.00    302317.50
75%    2017.00   1106556.00    592512.25
max    2019.00  23122600.00  12891329.00

## 사용하지 않는 데이터 제거

In [15]:
df.describe(include="object")

         연령별  암검진별    성별 대상인원 (명) 수검인원 (명)
count   2428  2428  2428     2428     2428
unique    15     6     3     1487     1508
top        계     계    합계        -        -
freq     178   412   818      560      560

In [16]:
# drop함수를 통해 DataFrame안에 있는 행을 제거해줄 수 있습니다.
# 데이터안의 '연령별' column안에 있는 '계'는 사용하지 않을 예정이기 때문에 제거합니다.
# 데이터안의 '암검진별' column안에 있는 '계'는 사용하지 않을 예정이기 때문에 제거합니다.
# 데이터안의 '성별' column안에 있는 '합계'는 사용하지 않을 예정이기 때문에 제거합니다.
# 이후 index를  다시 재지정해 준 뒤 기존의 index column을 제거합니다.
# df

df = df[df["연령별"] != "계"]
df = df[df["암검진별"] != "계"]
df = df[df["성별"] != "합계"].copy()
df.shape

(1238, 8)

In [17]:
df.describe(include="object")

             연령별  암검진별    성별 대상인원 (명) 수검인원 (명)
count       1238  1238  1238     1238     1238
unique        14     5     2      789      789
top     50 ~ 54세    위암    여자        -        -
freq          98   252   630      408      408

In [18]:
df[df[["연령별", "암검진별"]] != "계"].describe()

        시점  대상인원  수검인원
count  0.0   0.0   0.0
mean   NaN   NaN   NaN
std    NaN   NaN   NaN
min    NaN   NaN   NaN
25%    NaN   NaN   NaN
50%    NaN   NaN   NaN
75%    NaN   NaN   NaN
max    NaN   NaN   NaN

In [19]:
df[(df["연령별"] != "계") & (df["암검진별"] != "계") & (df["성별"] != "합계")].reset_index().drop("index", axis=1)

           연령별    시점   암검진별  성별 대상인원 (명) 수검인원 (명)      대상인원     수검인원
0     20 ~ 24세  2016     위암  남자        -        -       NaN      NaN
1     20 ~ 24세  2016     위암  여자        -        -       NaN      NaN
2     20 ~ 24세  2016    대장암  남자        -        -       NaN      NaN
3     20 ~ 24세  2016    대장암  여자        -        -       NaN      NaN
4     20 ~ 24세  2016     간암  남자        -        -       NaN      NaN
...        ...   ...    ...  ..      ...      ...       ...      ...
1233    85세 이상  2019     간암  여자     3592      914    3592.0    914.0
1234    85세 이상  2019    유방암  남자        -        -       NaN      NaN
1235    85세 이상  2019    유방암  여자   171274    22476  171274.0  22476.0
1236    85세 이상  2019  자궁경부암  남자        -        -       NaN      NaN
1237    85세 이상  2019  자궁경부암  여자   165503     9123  165503.0   9123.0

[1238 rows x 8 columns]

## 일부 데이터 확인하기

In [20]:
# 판다스의 head() 함수로 DataFrame의 앞쪽 데이터를 괄호 안에 지정한 개수만큼 얻어올 수 있습니다.
# 지정하지 않으면 기본값인 5개를 얻어오게 됩니다.
df.head(2)

          연령별    시점 암검진별  성별 대상인원 (명) 수검인원 (명)  대상인원  수검인원
182  20 ~ 24세  2016   위암  남자        -        -   NaN   NaN
183  20 ~ 24세  2016   위암  여자        -        -   NaN   NaN

In [21]:
# 판다스의 tail() 함수로 DataFrame의 뒤쪽 데이터를 괄호 안에 지정한 개수만큼 얻어올 수 있습니다.
# 지정하지 않으면 기본값인 5개를 얻어오게 됩니다.
df.tail(2)

         연령별    시점   암검진별  성별 대상인원 (명) 수검인원 (명)      대상인원    수검인원
2426  85세 이상  2019  자궁경부암  남자        -        -       NaN     NaN
2427  85세 이상  2019  자궁경부암  여자   165503     9123  165503.0  9123.0

In [22]:
# sample() 함수로 DataFrame의 랜덤 데이터를 괄호 안에 지정한 개수만큼 얻어올 수 있습니다.
# 지정하지 않으면 기본값인 1개를 얻어오게 됩니다.
df.sample(3)

           연령별    시점   암검진별  성별 대상인원 (명) 수검인원 (명)      대상인원      수검인원
1463  60 ~ 64세  2015    유방암  여자   763392   535185  763392.0  535185.0
522   35 ~ 39세  2011  자궁경부암  남자        -        -       NaN       NaN
1863  70 ~ 74세  2018     위암  여자   521616   353449  521616.0  353449.0

## 데이터 요약하기

In [23]:
# info() 함수를 사용하면 DataFrame을 구성하고있는 데이터 자료형의 자세한 내용을 확인할 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 182 to 2427
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연령별       1238 non-null   object
 1   시점        1238 non-null   int64
 2   암검진별      1238 non-null   object
 3   성별        1238 non-null   object
 4   대상인원 (명)  1238 non-null   object
 5   수검인원 (명)  1238 non-null   object
 6   대상인원      830 non-null    float64
 7   수검인원      830 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 87.0+ KB

In [24]:
# describe() 함수로 DataFrame에 저장된 숫자 데이터의 요약 통계량을 확인 할 수 있습니다.
# df에 숫자데이터는 '시점' column만 존재하기 때문에 '시점' column만 요약 통계량이 나오게 됩니다.
df.describe().round(2)

            시점        대상인원       수검인원
count  1238.00      830.00     830.00
mean   2014.68   478182.40  232059.98
std       2.94   452786.98  225900.15
min    2010.00        0.00       0.00
25%    2012.00    61805.75   24431.75
50%    2015.00   376829.00  167017.00
75%    2017.00   785360.25  413684.00
max    2019.00  1859394.00  768088.00

In [25]:
# nunique() 함수로 DataFrame에 고유값(==유일값)의 개수를 확인할 수 있습니다.
df.nunique()

연령별          14
시점           10
암검진별          5
성별            2
대상인원 (명)    789
수검인원 (명)    789
대상인원        788
수검인원        788
dtype: int64

## 데이터 색인하기

### Boolean Indexing
* 결과값이 True, False bool형태로 반환되기 대문에 boolean indexing이라고 부른다.
* boolean indexing을 사용해 특정 조건식을 만족하는 데이터를 서브셋으로 가져온다.

In [26]:
# DataFrame에서 폐암과 자궁경부암에 관한 내용 찾아보기
# 폐암 국가검진은 2019년 7월부터 추가되었기 때문에 폐암에 관한 데이터는 없습니다.

df[df["암검진별"] == "폐암"]

Empty DataFrame
Columns: [연령별, 시점, 암검진별, 성별, 대상인원 (명), 수검인원 (명), 대상인원, 수검인원]
Index: []

In [27]:
df["암검진별"].unique()

array(['위암', '대장암', '간암', '유방암', '자궁경부암'], dtype=object)

In [28]:
# 자궁경부암
df[df["암검진별"] == "자궁경부암"]

           연령별    시점   암검진별  성별 대상인원 (명) 수검인원 (명)      대상인원      수검인원
194   20 ~ 24세  2016  자궁경부암  남자        -        -       NaN       NaN
195   20 ~ 24세  2016  자궁경부암  여자   736010   138829  736010.0  138829.0
212   20 ~ 24세  2017  자궁경부암  남자        -        -       NaN       NaN
213   20 ~ 24세  2017  자궁경부암  여자   746162   166205  746162.0  166205.0
230   20 ~ 24세  2018  자궁경부암  남자        -        -       NaN       NaN
...        ...   ...    ...  ..      ...      ...       ...       ...
2391    85세 이상  2017  자궁경부암  여자   135881     6977  135881.0    6977.0
2408    85세 이상  2018  자궁경부암  남자        -        -       NaN       NaN
2409    85세 이상  2018  자궁경부암  여자   150812     7694  150812.0    7694.0
2426    85세 이상  2019  자궁경부암  남자        -        -       NaN       NaN
2427    85세 이상  2019  자궁경부암  여자   165503     9123  165503.0    9123.0

[244 rows x 8 columns]

## 파생변수 만들기

<img src = 'https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg' width="600">

* 연령을 다음과 같이 만들기
"20대"
"30대"

In [29]:
# 연령별 unique 값을 확인합니다.
df["연령별"].unique()

array(['20 ~ 24세', '25 ~ 29세', '30 ~ 34세', '35 ~ 39세', '40 ~ 44세',
       '45 ~ 49세', '50 ~ 54세', '55 ~ 59세', '60 ~ 64세', '65 ~ 69세',
       '70 ~ 74세', '75 ~ 79세', '80 ~ 84세', '85세 이상'], dtype=object)

In [30]:
# 연령대 파생변수를 생성합니다.
df["연령대"] = df["연령별"].str[0] + "0대"
df.head()

          연령별    시점 암검진별  성별 대상인원 (명) 수검인원 (명)  대상인원  수검인원  연령대
182  20 ~ 24세  2016   위암  남자        -        -   NaN   NaN  20대
183  20 ~ 24세  2016   위암  여자        -        -   NaN   NaN  20대
185  20 ~ 24세  2016  대장암  남자        -        -   NaN   NaN  20대
186  20 ~ 24세  2016  대장암  여자        -        -   NaN   NaN  20대
188  20 ~ 24세  2016   간암  남자        -        -   NaN   NaN  20대

## 여러 조건 검색하기
* and => &
* or => |

In [38]:
# 2010년에 간암에 관한 데이터를 확인해 봅니다.
# .loc[행, 열]
# .loc[조건식, 열]
# df.loc[(df['시점'] == 2010) & (df['암검진별'] == '간암')] 
# 시점의 type은 int64이기 때문에 int형식으로 지정해 주어야 합니다.
# 시점을 "2010" 과 같이 문자열로 지정하면 원하는 데이터를 얻을 수 없습니다.
year = (df["시점"] == 2010)
cancer = (df["암검진별"] == "간암")
df[ year & cancer ]

           연령별    시점 암검진별  성별 대상인원 (명) 수검인원 (명)     대상인원     수검인원  연령대
332   30 ~ 34세  2010   간암  남자        -        -      NaN      NaN  30대
333   30 ~ 34세  2010   간암  여자        -        -      NaN      NaN  30대
498   35 ~ 39세  2010   간암  남자        -        -      NaN      NaN  30대
499   35 ~ 39세  2010   간암  여자        -        -      NaN      NaN  30대
664   40 ~ 44세  2010   간암  남자    77087    29894  77087.0  29894.0  40대
665   40 ~ 44세  2010   간암  여자    29728    15744  29728.0  15744.0  40대
839   45 ~ 49세  2010   간암  남자    74462    27359  74462.0  27359.0  40대
840   45 ~ 49세  2010   간암  여자    24101    12453  24101.0  12453.0  40대
1014  50 ~ 54세  2010   간암  남자    86437    35548  86437.0  35548.0  50대
1015  50 ~ 54세  2010   간암  여자    36843    20854  36843.0  20854.0  50대
1192  55 ~ 59세  2010   간암  남자    53652    25142  53652.0  25142.0  50대
1193  55 ~ 59세  2010   간암  여자    24332    14572  24332.0  14572.0  50대
1370  60 ~ 64세  2010   간암  남자    42675    22934  42675.0  22934.0  60대
1371  60 ~ 64세  2010   간암  여자    24209    14121  24209.0  14121.0  60대
1548  65 ~ 69세  2010   간암  남자    23812    13273  23812.0  13273.0  60대
1549  65 ~ 69세  2010   간암  여자    13693     7615  13693.0   7615.0  60대
1726  70 ~ 74세  2010   간암  남자    19275     9042  19275.0   9042.0  70대
1727  70 ~ 74세  2010   간암  여자    13105     5706  13105.0   5706.0  70대
1904  75 ~ 79세  2010   간암  남자     6525     2352   6525.0   2352.0  70대
1905  75 ~ 79세  2010   간암  여자     6089     1871   6089.0   1871.0  70대
2082  80 ~ 84세  2010   간암  남자     2814      737   2814.0    737.0  80대
2083  80 ~ 84세  2010   간암  여자     2974      577   2974.0    577.0  80대
2260    85세 이상  2010   간암  남자      773      136    773.0    136.0  80대
2261    85세 이상  2010   간암  여자     1226       69   1226.0     69.0  80대

## 사용하지 않는 컬럼 제거

In [41]:
# "대상인원 (명)", "수검인원 (명)" 은 사용하지 않을 예정이라 제거합니다.
df = df.drop(columns=["대상인원 (명)", "수검인원 (명)"]).copy()
df

           연령별    시점   암검진별  성별      대상인원     수검인원  연령대
182   20 ~ 24세  2016     위암  남자       NaN      NaN  20대
183   20 ~ 24세  2016     위암  여자       NaN      NaN  20대
185   20 ~ 24세  2016    대장암  남자       NaN      NaN  20대
186   20 ~ 24세  2016    대장암  여자       NaN      NaN  20대
188   20 ~ 24세  2016     간암  남자       NaN      NaN  20대
...        ...   ...    ...  ..       ...      ...  ...
2421    85세 이상  2019     간암  여자    3592.0    914.0  80대
2423    85세 이상  2019    유방암  남자       NaN      NaN  80대
2424    85세 이상  2019    유방암  여자  171274.0  22476.0  80대
2426    85세 이상  2019  자궁경부암  남자       NaN      NaN  80대
2427    85세 이상  2019  자궁경부암  여자  165503.0   9123.0  80대

[1238 rows x 7 columns]

## 데이터 저장하기

<img src = 'https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [45]:
# 데이터를 저장할 때 index를 False로 저장하면 index번호는 같이 저장되지 않습니다.
# DataFrame은 excel형식으로도 저장이 가능합니다.
# df.to_excel('data/kosis-cancer.xlsx', index=False)

"""데이터 폴더가 없는 분들은 data 빼고 작성해 주세요"""
# df.to_csv("kosis-cancer.csv", index=False)
df.to_csv("data/kosis-cancer.csv", index=False, encoding="cp949")

In [47]:
pd.read_csv("data/kosis-cancer.csv", encoding="cp949")

           연령별    시점   암검진별  성별      대상인원     수검인원  연령대
0     20 ~ 24세  2016     위암  남자       NaN      NaN  20대
1     20 ~ 24세  2016     위암  여자       NaN      NaN  20대
2     20 ~ 24세  2016    대장암  남자       NaN      NaN  20대
3     20 ~ 24세  2016    대장암  여자       NaN      NaN  20대
4     20 ~ 24세  2016     간암  남자       NaN      NaN  20대
...        ...   ...    ...  ..       ...      ...  ...
1233    85세 이상  2019     간암  여자    3592.0    914.0  80대
1234    85세 이상  2019    유방암  남자       NaN      NaN  80대
1235    85세 이상  2019    유방암  여자  171274.0  22476.0  80대
1236    85세 이상  2019  자궁경부암  남자       NaN      NaN  80대
1237    85세 이상  2019  자궁경부암  여자  165503.0   9123.0  80대

[1238 rows x 7 columns]